// font-weight: 400; /* Regular */
// font-weight: 500; /* Medium */
// font-weight: 600; /* SemiBold */
// font-weight: 700; /* Bold */
// font-weight: 800; /* ExtraBold */
// font-weight: 900; /* Black */

@font-face {
  font-display: swap;
  font-family: "GT Eesti Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gteestiprodisplay_regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "GT Eesti Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/gteestiprodisplay_medium.woff2") format("woff2");
}

/*  davomi bor..... */
